sudo: false

language: node_js

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

before_install:
  - export JOBS=max

node_js:
  - '7'
  - '6'
  - '4'
  - '0.12'
